<app-modal
    [isOpen]="showLoginModal"
    title="Log In"
    (close)="showLoginModal = false"
    (confirm)="login()"
    confirmText="Log In"
    [confirmDisabled]="!loginForm.username || !loginForm.password">
    <form class="space-y-4">
      <app-input
        label="Email"
        type="email"
        [(ngModel)]="loginForm.username"
        name="email"
        [required]="true"
      ></app-input>
      <app-input
        label="Password"
        type="password"
        [(ngModel)]="loginForm.password"
        name="password"
        [required]="true"
      ></app-input>
    </form>
  </app-modal>
